#container{
  height: 100%;
  width: 100%;
  margin: 0%;
}

@media (min-width: 1200px) {
  #gatitoDia{
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  #gatitoTarde, #gatitoNoche, #tarde, #noche, #nada{
    display: none;
  }
}



@media (min-width: 1024px)  and (max-width: 1199px){
  #gatitoDia{
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  #gatitoTarde, #gatitoNoche, #dia, #noche, #nada{
    display: none;
  }
}



@media (min-width: 768px)  and (max-width: 1023px){
  #gatitoTarde{
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  #gatitoDia, #gatitoNoche, #dia, #noche, #nada{
    display: none;
  }
}



@media (min-width: 480px)  and (max-width: 767px){
  #gatitoNoche{
    width: 20%;
    height: 20%;
    margin-bottom: 50%;
  }
  #gatitoDia, #gatitoTarde, #dia, #tarde, #nada{
    display: none;
  }
}


@media (min-width: 320px) and (max-width: 479px){
  #gatitoDia,  #gatitoTarde, #gatitoNoche, #tarde, #dia{
    display: none;
  }
}
